<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetUserData</servlet-name>
        <servlet-class>com.akashj.usergrid.GetUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserData</servlet-name>
        <servlet-class>com.akashj.usergrid.UpdateUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserData</servlet-name>
        <servlet-class>com.akashj.usergrid.AddUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserData</servlet-name>
        <servlet-class>com.akashj.usergrid.DeleteUserData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserData</servlet-name>
        <url-pattern>/GetUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserData</servlet-name>
        <url-pattern>/UpdateUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserData</servlet-name>
        <url-pattern>/AddUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserData</servlet-name>
        <url-pattern>/DeleteUserData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
